@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Fredoka:wdth,wght@112.5,300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700 */



/* for the roundy font */
/* .nav-link {
  font-family: "Fredoka", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 112.5;
} */

/* montserrat font */
.nav-link{
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

/* bebas font */

/* .nav-link {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
} */
